.additionally__item {
  padding-bottom: 19px;
}

@media (min-width: @tablet-width) {
  .additionally__item {
    width: 281px;
  }

  .additionally__list {
    display: flex;
    flex-wrap: wrap;
  }
}
