.contacts {
  position: relative;
  background-color: @white;
}

.contacts__block {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;
}

.contacts__title {
  width: 124px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
}

.contacts__text {
  width: 135px;
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .contacts__block {
    max-width: 625px;
    padding: 64px 40px 62px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    width: 155px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__block {
    position: absolute;
    top: 95px;
    left: 110px;
    padding: 64px;
    width: 440px;
    background-color: @white;
    z-index: 1;
  }
}
