.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  text-decoration: none;
  min-height: 68px;
  color: #444444;
}

.copyright__icon {
  width: 40px;
  height: 46px;
}

// .@media (min-width: @tablet-width) {
// }
