.example {
  background-color: @lightgrey;
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .example {
    display: flex;
    justify-content: space-between;
  }

  .example__block {
    width: 430px;
  }

  .example__slider {
    width: 615px;
  }
}

.example__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.example__item {
  position: relative;
}

.example__value {
  display: block;
  width: 90px;
  padding: 16px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__label {
  position: absolute;
  top: 47px;
  left: 18px;
  display: block;
  padding: 0 16px;
  width: 55px;
  font-size: 12px;
  text-align: center;
  color: #444444;
  background-color: #f2f2f2;
  z-index: 1;
}

.example__text {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.example__slider {
  min-height: 365px;
}
