.intro {
  color: @white;
  text-align: center;
  background-image: url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 80%, 50% 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png"),
      url("../img/index-background-mobile@2x.jpg");
    background-size: 281px, 320px;
  }
}

.intro__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 452px;
  padding-top: 28px;

  &::before {
    position: absolute;
    top: 0;
    left: -20px;
    content: "";
    width: 100vw;
    height: 305px;
    background: #63a73a;
    z-index: -10;
  }
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
}

.intro__slogan {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}

.intro__link--main.button {
  font-size: 14px;
  margin-top: auto;
}

@media (min-width: @tablet-width) {
  .intro {
    color: #111111;
    text-align: left;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: 50% 110%;
    background-size: 710px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  .intro__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 558px;
    margin-left: 0;
    margin-top: 48px;
    padding-left: 119px;
    min-height: 281px;

    &::before {
      display: none;
    }
  }

  .intro__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0;
  }

  .intro__slogan {
    font-size: 20px;
  }

  .intro__link--main.button {
    font-size: 20px;
    width: 44%;
    margin-top: 0;
    padding: 15px 0;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    padding-top: 0;
    background-image: url("../img/index-can-desktop@1x.png");
    background-position: 63% 46%;
    background-size: 552px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }

  .intro__wrapper {
    margin: 0;
    padding-top: 0;
    padding-left: 190px;
    min-height: 286px;
  }

  .intro__link--main.button {
    width: 245px;
  }

  .intro__title {
    width: 30%;
  }
}
