.intro {
  color: @white;
  text-align: center;
  background: linear-gradient(to top, @white 36.5%, #63a73a 36.5%, #63a73a 100%);
  background-image: url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 80%, 50% 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png"),
      url("../img/index-background-mobile@2x.jpg");
    background-size: 87.5%, 100%;
  }
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 452px;
  padding-top: 28px;
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
}

.intro__slogan {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}

.intro__link--main.button {
  font-size: 14px;
  margin-top: auto;
}

@media (min-width: @tablet-width) {
  .intro {
    color: #111111;
    text-align: left;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: 50% 110%;
    background-size: 90.5%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  .intro__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0;
    margin-top: 48px;
    padding-left: 88px;
    min-height: 281px;
  }

  .intro__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0;
  }

  .intro__slogan {
    font-size: 20px;
  }

  .intro__link--main.button {
    font-size: 20px;
    width: 40%;
    margin-top: 0;
    padding: 15px 0;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    padding-top: 0;
    background-image: url("../img/index-can-desktop@1x.png");
    background-position: 65.8% 49%;
    background-size: 42.9%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }

  .intro__wrapper {
    margin: 0;
    padding-top: 0;
    padding-left: 82px;
    min-height: 286px;
  }

  .intro__link--main.button {
    width: 245px;
  }

  .intro__title {
    width: 30%;
  }
}
