.main-nav {
  width: 100%;
  margin: 0;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 44px;
  height: 42px;
  cursor: pointer;
  border: none;
  background-color: @white;
  outline: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #222222;
  box-shadow: 0 7px 0 0 #222222, 0 14px 0 0 #222222;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 29px;
    left: 0;
    width: 23px;
    height: 2px;
    background-color: #222222;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 61.7%;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 39.1%;
  }
}
