.page-main__intro {
  min-height: 480px;
  padding-top: 28px;
}

@media (min-width: @tablet-width) {
  .page-main__intro {
    min-height: 810px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__intro {
    display: flex;
    align-items: center;
    margin-top: -108px;
    min-height: 678px;
  }
}
