.page-footer {
  background-color: @lightgrey;
}

.page-footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__img {
  width: 100%;
  min-height: 365px;
  border: none;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  min-width: 44.6%;
}

@media (max-width: @mobile-width-only) {
  .page-footer__logo {
    min-height: 90px;
  }

  .page-footer__social {
    min-height: 62px;
  }

  .page-footer__copyright {
    min-height: 78px;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__img {
    min-height: 393px;
  }

  .page-footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
  }

  .page-footer__logo {
    margin-right: 18px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__img {
    min-height: 400px;
  }
}
