.present {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 264px;
  margin-top: 39px;
  margin-bottom: 35px;
  padding-bottom: 25px;
  text-align: center;
  background: url("../img/icon-gift.svg") no-repeat 50% 28%,
    url("../img/gift-photo-mobile@1x.jpg") no-repeat center 0;
  background-color: @green;
  background-size: 55px 60px, auto;
}

.present__text {
  width: 170px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @white;
}

@media (min-width: @tablet-width) {
  .present {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 200px;
    margin-top: 69px;
    margin-bottom: 76px;
    padding-bottom: 0;
    text-align: left;
    background: url("../img/icon-gift.svg") no-repeat 14% 45%,
      url("../img/gift-photo-tablet@1x.jpg") no-repeat center 0;
    background-color: @green;
    background-size: 55px 60px, auto;
  }

  .present__text {
    margin-right: 116px;
  }
}

@media (min-width: @desktop-width) {
  .present {
    justify-content: center;
    width: 245px;
    min-height: 124px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 165px;
    padding-left: 0;
    text-align: center;
    background: url("../img/icon-gift.svg") no-repeat 50% 28%,
      url("../img/gift-photo-mobile@1x.jpg") no-repeat 0 0;
    background-color: @green;
    background-size: 55px 60px, auto;
  }

  .present__text {
    margin-right: 0;
    margin-top: 0;
  }
}
