.present {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 264px;
  margin-top: 39px;
  margin-bottom: 35px;
  padding-bottom: 25px;
  text-align: center;
  background-image: url("../img/icon-gift.svg"),
    url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 28%, center 0;
  background-color: @green;
  background-size: 55px 60px, 100%;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/icon-gift.svg"),
      url("../img/gift-photo-mobile@2x.jpg");
  }
}

.present__text {
  width: 170px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @white;
}

@media (min-width: @tablet-width) {
  .present {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 200px;
    margin-top: 69px;
    margin-bottom: 76px;
    padding-bottom: 0;
    text-align: left;
    background-image: url("../img/icon-gift.svg"),
      url("../img/gift-photo-tablet@1x.jpg");
    background-position: 14% 45%, center 0;
    background-color: @green;
    background-size: 55px 60px, 100%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/icon-gift.svg"),
        url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .present__text {
    margin-right: 116px;
  }
}

@media (min-width: @desktop-width) {
  .present {
    justify-content: center;
    width: 245px;
    min-height: 124px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 165px;
    padding-left: 0;
    text-align: center;
    background-image: url("../img/icon-gift.svg"),
      url("../img/gift-photo-desktop@1x.jpg");
    background-color: @green;
    background-size: 55px 60px, 100%;
    background-position: 50% 28%, 0 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/icon-gift.svg"),
        url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .present__text {
    margin-right: 0;
    margin-top: 0;
  }
}
