.products__link {
  text-decoration: none;
}

.products__list {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  color: #444444;
}

.products__field {
  text-align: left;
}

.products__value {
  text-align: right;
}
