.program__list {
  padding-top: 20px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.program__item {
  width: 571px;
  margin-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .program__list {
    border: 1px solid #ededed;
  }
}
