.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.slider__image {
  margin-bottom: 33px;
  width: 100%;
}

.slider__control {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding-left: 5px;
}

.slider__toggle {
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider__line {
  position: relative;
  width: 82px;
  height: 12px;
  margin: 0 18px;
  background-color: @white;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 3px;
    left: 5px;

    content: "";
    width: 35px;
    height: 6px;
    background-color: #68b738;
    border-radius: 3px;
  }
}

@media (min-width: @tablet-width) {
  .slider__image {
    margin-bottom: 16px;
    width: 98%;
    margin-left: 13px;
  }

  .slider__control {
    margin-bottom: 0;
    padding-left: 2px;
  }

  .slider__toggle {
    position: relative;
    font-size: 20px;

    &::before {
      position: absolute;
      top: 25px;
      left: 0;
      content: "";
      width: 100%;
      height: 0;
      border-bottom: 1px dotted #bebebe;
    }

    &:hover {
      outline: none;

      &::before {
        border-bottom: 1px solid #bebebe;
      }
    }

    &:focus,
    &:active {
      outline: none;

      &::before {
        border: none;
      }
    }
  }

  .slider__line {
    width: 427px;
    height: 6px;
    margin: 0 25px;
    background-color: #dcdcdc;
    border: none;

    &::before {
      top: -12px;
      left: 198px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 12px solid @white;
      box-shadow: 0 0 0 1px #cdcdcd, 0 3px 10px 0 #cdcdcd;
    }

    &:hover {
      &::before {
        box-shadow: 0 0 0 1px #cdcdcd, 0 3px 5px 2px #cdcdcd;
      }
    }

    &:active {
      &::before {
        box-shadow: 0 0 0 2px #68b738, 0 5px 5px 2px #cdcdcd;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .slider {
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    padding: 0;
  }

  .slider__image {
    margin-bottom: 36px;
    margin-left: 51px;
  }

  .slider__control {
    padding: 0;
    margin-bottom: 0;
  }

  .slider__line {
    margin: 0 21px;
  }
}
