.user-contacts {
  margin-bottom: 11px;
}

.user-contacts__list {
  margin-top: 33px;
}

.user-contacts__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.user-contacts__icon {
  display: none;
}

@media (min-width: @tablet-width) {
  .user-contacts {
    margin-bottom: 51px;
  }

  .user-contacts br {
    display: none;
  }

  .user-contacts__list {
    margin-top: 78px;
  }

  .user-contacts__item {
    position: relative;
    margin-bottom: 21px;
  }

  .user-contacts__icon {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    fill: #222222;

    &--mail {
      top: 20px;
      right: 18px;
    }

    &--phone {
      top: 18px;
      right: 19px;
    }
  }

  .user-contacts__input {
    padding-right: 40px;

    &:focus + .user-contacts__icon,
    &:active + .user-contacts__icon {
      fill: #68b738;
    }
  }
}

@media (min-width: @desktop-width) {
  .user-contacts {
    margin-bottom: 53px;
  }

  .user-contacts__list {
    display: flex;
    justify-content: space-between;
  }

  .user-contacts__item {
    width: 47%;
  }
}
