.user-contacts {
  margin-bottom: 11px;
}

.user-contacts__list {
  margin-top: 33px;
}

.user-contacts__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.user-contacts__icon {
  position: absolute;
  display: block;
  fill: #222222;

  &--mail {
    width: 20px;
    height: 13px;

    top: 18px;
    right: 15px;
  }

  &--phone {
    width: 20px;
    height: 20px;

    top: 13px;
    right: 13px;
  }

  &:focus + .user-contacts__icon,
  &:active + .user-contacts__icon {
    fill: #68b738;
  }
}

@media (min-width: @tablet-width) {
  .user-contacts {
    margin-bottom: 51px;
  }

  .user-contacts br {
    display: none;
  }

  .user-contacts__list {
    margin-top: 78px;
  }

  .user-contacts__item {
    margin-bottom: 21px;
  }

  .user-contacts__icon {
    &--mail {
      top: 21px;
      right: 15px;
    }

    &--phone {
      top: 18px;
      right: 15px;
    }
  }

  .user-contacts__input {
    padding-right: 40px;
  }
}

@media (min-width: @desktop-width) {
  .user-contacts {
    margin-bottom: 53px;
  }

  .user-contacts__list {
    display: flex;
    justify-content: space-between;
  }

  .user-contacts__item {
    width: 47%;
  }

  .user-contacts__icon {
    &--mail {
      top: 21px;
      right: 20px;
    }

    &--phone {
      top: 18px;
      right: 19px;
    }
  }
}
